<div class="well">
  <form class="form-horizontal" action="<%= session_url %>" method="post">

    <input type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

    <fieldset>
      <legend><h1>Sign Into An Existing Account</h1></legend>
      <div class="form-group" style="width: 50%;">
        <label for="inputUsername" class="col-lg-2 control-label">Username</label>
        <div class="col-lg-10">
          <input type="text"
          class="form-control"
          id="inputUsername"
          placeholder="Your username goes here."
          name="user[username]">
        </div>
      </div>

      <div class="form-group" style="width: 50%;">
        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
          <input type="password"
          class="form-control"
          id="inputPassword"
          placeholder="Your password goes here."
          name="user[password]">
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-10">
          <button id="guest-button" class="btn btn-primary">Guest User</button>
          <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>

    </fieldset>
  </form>
</div>

<script>
var localTour;

localTour = new Shepherd.Tour({
  defaults: {
    classes: 'shepherd-theme-arrows',
    scrollTo: true
  }
});

localTour.addStep('overview-step', {
  title: "<strong>Sign In Tutorial</strong>",
  text: "This is the sign in page. You can sign in using your own user account or...",
  classes: 'shepherd-theme-arrows',
  buttons: [
  {
    text: 'Exit',
    action: localTour.cancel
  },
  {
    text: 'Next',
    action: localTour.next
  }
  ]
});

localTour.addStep('guest-user-step', {
  title: "<strong>Sign In Tutorial</strong>",
  text: "Click this <strong>Guest User</strong> button if you want to try out the website without creating your own user account.",
  classes: 'shepherd-theme-arrows',
  attachTo: "#guest-button bottom",
  scrollTo: true,
  buttons: [
  {
    text: 'Back',
    action: localTour.back
  },
  {
    text: 'Next',
    action: localTour.next
  }
  ]
});

localTour.addStep('submit-step', {
  title: "<strong>Sign In Tutorial</strong>",
  text: "Don't forget to click submit after you have entered your credentials or clicked on Guest User.",
  classes: 'shepherd-theme-arrows',
  attachTo: "#submit-button bottom",
  scrollTo: true,
  buttons: [
  {
    text: 'End',
    action: localTour.next
  }
  ]
});


$(document).ready(function () {
  $("#guest-button").on("click", function (event) {
    event.preventDefault();
    $("#inputUsername").attr("value", "Guest");
    $("#inputPassword").attr("value", "password")
  });

  $('#tutorial-button').on('click', function (event) {
    event.preventDefault();
    localTour.start();
  });
});
</script>
