<form class="form-horizontal" action="<%= predictions_url %>" method="post">

  <input type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>">

  <fieldset>
    <legend><h1>Make a New Prediction</h1></legend>
    <div class="form-group" style="width: 50%;">
      <label for="inputStatement" class="col-lg-2 control-label">Statement</label>
      <div class="col-lg-10">
        <input type="text"
               class="form-control"
               id="inputStatement"
               name="prediction[statement]"
               placeholder="Godzilla will attack Tokyo within the week.">
      </div>
    </div>
    <div class="form-group" style="width: 50%;">
      <label for="inputDeadline" class="col-lg-2 control-label">Deadline</label>
      <div class="col-lg-10">
        <input type="datetime"
               class="form-control"
               id="inputDeadline"
               name="prediction[deadline]"
               placeholder="in seven days">
      </div>
    </div>

    <div class="form-group" style="width: 50%;">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
