<h1>Make a New Prediction</h1>

<div class="form-group">
  <form action="<%= predictions_url %>" method="post">

    <input type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">


      <label>
        Statement
        <input type="textarea" name="prediction[statement]" class="form-control" value="">
      </label>
      <br>
      <label>
        Deadline
        <input type="datetime" name="prediction[deadline]" class="form-control" value="">
      </label>
      <br>

    <input type="submit" value="Submit!" class="btn-default">
  </form>
</div>
