<h3><%= @prediction.statement %></h3>
<h4>Predictor: <%= @prediction.user.username %></h4>

<ul>
<% @prediction.wagers.each do |wager| %>
<li><%= wager.probability %>% <%= wager.user.username %></li>
<% end %>
</ul>
