<h1>Tutorial</h1>
<h3>Hover over the panels for extra hints!</h3>
<% if not signed_in? %>
<div class="panel panel-warning" id="step-0">
  <div class="panel-heading">
    <h3 class="panel-title">Step Zero: Create an Account</h3>
  </div>
  <div class="panel-body">
    To get started,
    you'll need to create a new user account by clicking on the <strong>Sign In</strong> button in the upper right of the screen.
  </div>
</div>
<% end %>
<div class="panel panel-warning" id="step-1">
  <div class="panel-heading">
    <h3 class="panel-title">Step One: Make a Prediction</h3>
  </div>
  <div class="panel-body">
    Some stuff goes here.
  </div>
</div>

<div class="panel panel-warning" id="step-2">
  <div class="panel-heading">
    <h3 class="panel-title">Step Two: Place a Wager</h3>
  </div>
  <div class="panel-body">
    Some stuff goes here.
  </div>
</div>

<div class="panel panel-warning" id="step-3">
  <div class="panel-heading">
    <h3 class="panel-title">Step Three: Judge a Prediction</h3>
  </div>
  <div class="panel-body">
    Some stuff goes here.
  </div>
</div>
