<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>Statement</th>
      <th>Deadline</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
  </tbody>
</table>
