<div class="jumbotron">
  <blockquote>
    <p>
      Prediction is not just one of the things your brain does.
      It is the primary function of the neo-cortex, and the foundation of intelligence.
    </p>
    <small>Jeff Hawkins</small>
  </blockquote>

  <p>Welcome to <strong>PredictionNote</strong>!</p>

  <p>
     A place to make predictions, help judge the
    predictions of others, and become only as sure of things as the facts justify.
  </p>
  <p><a href="#" class="btn btn-primary btn-lg">Tutorial</a></p>
</div>
