<div class="jumbotron">
  <blockquote>
    <p>Prediction is very difficult, especially about the future.</p>
    <small>Niels Bohr</small>
  </blockquote>

  <p>
    Welcome to PredictionNote!
    Make predictions. Judge others' predictions.
    Become only as sure of things as the facts justify.
  </p>
  <p><a class="btn btn-primary btn-lg">Tutorial</a></p>
</div>
