<h1>Sign Up</h1>

<form action="<%= users_url %>" method="post" class="form-horizontal">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">


<div class="form-group">
    <label>
      Username
      <input type="text" name="user[username]" class="form-control" value="">
    </label>
    <br>
    <label>
      Password
      <input type="password" name="user[password]" class="form-control" value="">
    </label>
    </div>

    <input class="btn-default" type="submit" value="Sign Up">
</form>
