<div class="jumbotron" id="welcome-jumbotron">
  <h2>Welcome to <strong>PredictionNote</strong></h2>

  <p>Find out just how sure you should be, and get better at being only as sure as the facts justify.</p>

  <div>
    <p><a id="getting-started-button" class="btn btn-primary btn-lg">Get Started</a></p>
  </div>
</div>
